<div  id="floorplan">
      <h1>Select Desired Seating Area</h1>
      <button class="btn btn-primary" id="insidemain">Inside Main Area</button>
      <button class="btn btn-primary" id="bararea">Inside Bar Area</button>
      <br>
      <button class="btn btn-primary" id="outsidemain">Outside Main Area</button>
      <button class="btn btn-primary" id="opensky">Outside Open Sky</button>
      <br>
      <button class="btn btn-primary" id="bythesea">By the sea</button>
    </div>