{{#if (eq page 'userreserv')}}
<div  id="floorplan">
      <h1>Select Desired Seating Area</h1>
      <a class="btn btn-primary" id="insidemain" href="/userpickarea?id=insidemain">Inside Main Area</a>
      <a class="btn btn-primary" id="bararea" href="/userpickarea?id=bararea">Inside Bar Area</a>
      <br>
      <a class="btn btn-primary" id="outsidemain" href="/userpickarea?id=outsidemain">Outside Main Area</a>
      <a class="btn btn-primary" id="opensky" href="/userpickarea?id=opensky">Outside Open Sky</a>
      <br>
      <a class="btn btn-primary" id="bythesea" href="/userpickarea?id=bythesea">By the sea</a>
    </div>
{{/if}}
{{#if (eq page 'assigntable')}}
<div  id="floorplan">
      <h1>Select Desired Seating Area</h1>
      <a class="btn btn-primary" id="insidemain" href="/pickarea?id=insidemain">Inside Main Area</a>
      <a class="btn btn-primary" id="bararea" href="/pickarea?id=bararea">Inside Bar Area</a>
      <br>
      <a class="btn btn-primary" id="outsidemain" href="/pickarea?id=outsidemain">Outside Main Area</a>
      <a class="btn btn-primary" id="opensky" href="/pickarea?id=opensky">Outside Open Sky</a>
      <br>
      <a class="btn btn-primary" id="bythesea" href="/pickarea?id=bythesea">By the sea</a>
    </div>
{{/if}}
