<div  id="oldResev">
      <div class="tasks">
          <h1>Old Reservations</h1>
          <ul class="task-list" style="overflow-y: scroll; max-height: 200px;">
             <li>
              <span>Να διαβάσω JS</span>
              <button class="btn btn-primary review">Review</button>
              </li>
              <hr>
             <li class="done">
              <span>Να ταΐσω τη γάτα</span>
              <button class="btn btn-primary review">Review</button>
             </li>
             <hr>
          </ul>
      </div>
    </div>