<div id="insidemainplan">
    <button id="table1" class="table btn btn-primary">1</button>
    <button id="table2" class="table btn btn-primary">2</button>
    <button id="table3" class="table btn btn-primary">3</button>
    <button id="table4" class="table btn btn-primary">4</button>
    <button id="table5" class="table btn btn-primary">5</button>
    <button id="table6" class="table btn btn-primary">6</button>
    <button id="table7" class="table btn btn-primary">7</button>
    <button id="table8" class="table btn btn-primary">8</button>
    <button id="table9" class="table btn btn-primary">9</button>
</div>