<div id="insidemain" style="position: relative; background: url('/media/table_plan.png') no-repeat; background-size: contain; width: 600px; height: 600px;">
    <button class="table btn btn-primary" id="table1" >1</button>
    <button class="table btn btn-primary" id="table2">2</button>
    <button class="table btn btn-primary" id="table3">3</button>
    <button class="table btn btn-primary" id="table4">4</button>

</div>