<div id="userprofile">
        <div id="userdetails">
            <h2>User Details</h2>
            <p>First Name: <span>{{firstname}}</span></p>
            <p>Last Name: <span>{{lastname}}</span></p>
            <p>Email: <span>{{email}}</span></p>
            <p>Phone: <span>{{phone}}</span></p>
        </div>
</div>