<div id="userprofile">
        <div id="userdetails">
            <h2>User Details</h2>
            {{#each info}}
            <p>First Name: <span>{{Fname}}</span></p>
            <p>Last Name: <span>{{Lname}}</span></p>
            <p>Email: <span>{{mail}}</span></p>
            <p>Phone: <span>{{phone}}</span></p>
            {{/each}}
        </div>
</div>