<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fagadiko-My Profile</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
    <div class="sidenav">
        <a href="/myprofile/page/info">My Profile</a>
        <a href="/myprofile/page/reservations">Active Reservations</a>
        <a href="/myprofile/page/history">Old Reservations</a>
        <a href="/myprofile/page/royalty">Royalty Points</a>
        <a href="/logout">Logout</a>
    </div>

    <script>
        $('#example-one a').click(function(e) {
        $('#example-one a').removeClass('current_page_item');
        $(this).addClass('current_page_item');
    });
    </script>
    <div id="pagebody">
        {{{body}}}
    </div>
</body>
</html>
