<div id="addEditFoodItem">
    <h1>Edit or Add Food Item</h1>
    <form action="/saveFoodItem" method="POST">
        <label for="name">Food Item Name:</label>
        <input type="text" id="name" name="name" class="form-control" required>

        <label for="price">Price:</label>
        <input type="number" id="price" name="price" step="0.5" class="form-control" required>

        <label for="description">Description:</label>
        <textarea id="description" name="description" class="form-control" required></textarea>

        <div style="text-align: center; margin-top:2%">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>