<div id="adminmenupg">
    <h1>Manage Menu</h1>
    <div class="container" id="activemenu">
        <h2>Current Menu</h2>
        <ul class="task-list" style="overflow-y: scroll; max-height: 200px;">
            <li>
                <span>Να διαβάσω JS</span>
                <button class="onmenu btn btn-primary edit">Edit</button>
                <button class="btn btn-primary remove">Remove</button>
            </li>
            <hr>
            <li class="done">
                <span>Να ταΐσω τη γάτα</span>
                <button class="btn btn-primary edit">Edit</button>
                <button class="btn btn-primary remove">Remove</button>
            </li>
            <hr>
            <li>
                <span>Να μαγειρέψω</span>
                <button class="btn btn-primary edit">Edit</button>
                <button class="btn btn-primary remove">Remove</button>
            </li>
            <hr>
        </ul>
    </div>
    <hr>
    <div class="container" id="fooditems">
        <div id="newitemhead">
            <h2 style="display: flex">Food Items</h2>
            <a class="btn btn-primary newitembtn">Create New</a>
        </div>
        <ul class="task-list" style="overflow-y: scroll; max-height: 200px;">
            <li>
                <span>Να διαβάσω JS</span>
                <button class="btn btn-primary edit">Edit</button>
                <button class="btn btn-primary remove">Delete</button>
                <button class="btn btn-primary addmenu">Add to menu</button>
            </li>
            <hr>
            <li class="done">
                <span>Να ταΐσω τη γάτα</span>
                <button class="btn btn-primary edit">Edit</button>
                <button class="btn btn-primary remove">Delete</button>
                <button class="btn btn-primary addmenu">Add to menu</button>
            </li>
            <hr>
            <li>
                <span>Να μαγειρέψω</span>
                <button class="btn btn-primary edit">Edit</button>
                <button class="btn btn-primary remove">Delete</button>
                <button class="btn btn-primary addmenu">Add to menu</button>
            </li>
            <hr>
        </ul>
    </div>
</div>