<div class="container" id="adminpanel">
        <div class="col-md-6">
          <h1>Welcome Admin,</h1>
          {{!-- NEED TO FIX THOSE --}}
          <a class="btn btn-primary" id="mngmenu_btn" href="./adminmenu">Manage Menu</a>
          <a class="btn btn-primary" id="mnglocation_btn" href="/adminreserv">Manage Reservations</a>
        </div>
        <img id="shop_logo" class="image-fluid" src="./media/fagadiko_notext.jpg" alt="shop_logo">
</div>