{{>adminnav loggname=loggname}}
<div id="pagebody">
<div class="container" id="pendinglist">
        <div class="tasks">
            <h1>New Reservations</h1>
            <ul class="task-list" style="overflow-y: scroll; max-height: 200px;">
               <li>
                  <span>Να λύσω ξανά την άσκηση αυτή την επόμενη εβδομάδα, που θα ξέρω πώς χειριζόμαστε τα συμβάντα</span>
                  <a href='/assign_table' class="btn btn-primary edit">Assign Table</a>
                  <button class="btn btn-primary reject">Reject</button>
               </li>
               <hr>
               <li class="done">
                <span>Να πάρω τα χάπια μου</span>
                <a href='/assign_table' class="btn btn-primary edit">Assign Table</a>
                <button class="btn btn-primary reject">Reject</button>
                </li>
                <hr>
               <li>
                <span>Να διαβάσω JS</span>
                <a href='/assign_table' class="btn btn-primary edit">Assign Table</a>
                <button class="btn btn-primary reject">Reject</button>
                </li>
                <hr>
               <li class="done">
                <span>Να ταΐσω τη γάτα</span>
                <a href='/assign_table' class="btn btn-primary edit">Assign Table</a>
                <button class="btn btn-primary reject">Reject</button>
               </li>
               <hr>
               <li>
                <span>Να μαγειρέψω</span>
                <a href='/assign_table' class="btn btn-primary edit">Assign Table</a>
                <button class="btn btn-primary reject">Reject</button>
                </li>
                <hr>
            </ul>
            <!-- <div class="statistics">Σύνολο: <span class="total">0</span></div> -->
            <!-- <div class="statistics">Δεν έχουν ολοκληρωθεί: <span class="left-todo">0</span></div> -->
    </div>
    </div>
    <div class="container" id="confirmedlist">
      <div class="tasks">
          <h1>Confirmed Reservations</h1>
          <ul class="task-list" style="overflow-y: scroll; max-height: 200px;">
             <li>
              <span>Να διαβάσω JS</span>
              <button class="btn btn-primary edit">Edit</button>
              <button class="btn btn-primary remove">Cancel</button>
              </li>
              <hr>
             <li class="done">
              <span>Να ταΐσω τη γάτα</span>
              <button class="btn btn-primary edit">Edit</button>
              <button class="btn btn-primary remove">Cancel</button>
             </li>
             <hr>
             <li>
              <span>Να μαγειρέψω</span>
              <button class="btn btn-primary edit">Edit</button>
              <button class="btn btn-primary remove">Cancel</button>
              </li>
              <hr>
          </ul>
          <!-- <div class="statistics">Σύνολο: <span class="total">0</span></div> -->
          <!-- <div class="statistics">Δεν έχουν ολοκληρωθεί: <span class="left-todo">0</span></div> -->
  </div>
  </div>
  <div class="container" id="changeslist">
    <div class="tasks">
        <h1>Changes</h1>
        <ul class="task-list" style="overflow-y: scroll; max-height: 200px;">
           <li>
            <span>Να διαβάσω JS</span>
            <button class="btn btn-primary remove">Cancel</button>
              <button class="btn btn-primary approve">Approve Changes</button>
            </li>
            <hr>
        </ul>
    </div>
        <!-- <div class="statistics">Σύνολο: <span class="total">0</span></div> -->
        <!-- <div class="statistics">Δεν έχουν ολοκληρωθεί: <span class="left-todo">0</span></div> -->
</div>
</div>