<div id="adminmenupg">
    <h1>Manage Menu</h1>
    <div class="container" id="activemenu">
        <h2>Current Menu</h2>
        <ul class="task-list menuheader">
        <li>
                <span>Food Name</span>
                <span>Price</span>
                <span>Actions</span>
        </li>
        </ul>
        <ul class="task-list" style="overflow-y: scroll; max-height: 200px;">
            <li>
                <span>Burger</span>
                <span>7</span>
                <a class="btn btn-primary edit" href="/addFoodItem">Edit</a>
                <button class="btn btn-primary remove">Remove</button>
            </li>
            <hr>
            <li class="done">
                <span>Να ταΐσω τη γάτα</span>
                <a class="btn btn-primary edit" href="/addFoodItem">Edit</a>
                <button class="btn btn-primary remove">Remove</button>
            </li>
            <hr>
            <li>
                <span>Να μαγειρέψω</span>
                <a class="btn btn-primary edit" href="/addFoodItem">Edit</a>
                <button class="btn btn-primary remove">Remove</button>
            </li>
            <hr>
        </ul>
    </div>
    <hr>
    <div class="container" id="fooditems">
        <div style="display: flex" id="newitemhead">
            <h2 style="margin-right:auto">Food Items not on menu</h2>
            <a class="btn btn-primary newitembtn" href="/addFoodItem">Create New</a>
        </div>
        <ul class="task-list menuheader">
        <li>
                <span>Food Name</span>
                <span>Price</span>
                <span>Actions</span>
        </li>
        </ul>
        <ul class="task-list" style="overflow-y: scroll; max-height: 200px;">
            <li>
                <span>Να διαβάσω JS</span>
                <a class="btn btn-primary edit" href="/addFoodItem">Edit</a>
                <button class="btn btn-primary remove">Delete</button>
                <button class="btn btn-primary addmenu">Add to menu</button>
            </li>
            <hr>
            <li class="done">
                <span>Να ταΐσω τη γάτα</span>
                <a class="btn btn-primary edit" href="/addFoodItem">Edit</a>
                <button class="btn btn-primary remove">Delete</button>
                <button class="btn btn-primary addmenu">Add to menu</button>
            </li>
            <hr>
            <li>
                <span>Να μαγειρέψω</span>
                <a class="btn btn-primary edit" href="/addFoodItem">Edit</a>
                <button class="btn btn-primary remove">Delete</button>
                <button class="btn btn-primary addmenu">Add to menu</button>
            </li>
            <hr>
        </ul>
    </div>
</div>