 <div class="image">
    <div class="centered" id="home_text">The place to eat</div>
    <a class="btn btn-primary" id="view_menu_btn" href="/menu">Check our Menu</a>
  </div>
  <div>
    <h2 id="desc" class="centered">Fagadiko</h2>
    <p class="centered" id="short_description">Welcome to Fagadiko, a culinary gem nestled in the heart of Patras. Since our establishment in 1972, we have been dedicated to crafting unforgettable dining experiences that tantalize the senses and evoke a sense of warmth and sophistication. With a passion for exquisite cuisine and impeccable service, our restaurant invites you to embark on a gastronomic journey unlike any other. From our carefully curated menu featuring locally sourced ingredients to our elegant ambiance, every detail is designed to delight and inspire. Join us at Fagadiko and indulge in the art of fine dining, where every meal is a celebration of taste, tradition, and timeless elegance.</p>
  </div>
  <div class="container" id="imgcont">
        <img id="shop_logo_home" class ="centered" src="/media/fagadiko_notext.jpg">
    </div>
  <div class="footer">
  <div class="footer-section">
    <h3>Contact Us</h3>
    <p>Email: info@fagadiko.com</p>
    <p>Phone: +30 2610 969 000</p>
  </div>
  <div class="footer-section">
    <h3>Location</h3>
    <p>Panepistimioupoli Patron, 26504, Rio, Greece</p>
  </div>
  <div class="footer-section">
    <h3>Follow Us</h3>
    <a href="#" class="fa fa-facebook" alt="Facebook"></a>
    <a href="#" class="fa fa-twitter"  alt="Twitter"></a>
    <a href="#" class="fa fa-instagram"  alt="Instagram"></a>
  </div>
</div>