{{>navbar loggname=loggname}}
<div id="pagebody">
<div  id="location_body">
        <div id="txtandlogo">
          <h1>Find Us</h1>
          <p>Panepistimioupoli Patron, 26504, Rio, Greece</p>
          <p>Phone: +30 2610 969 000</p>
        <!-- <div class="col-md-6">
            <img id="shop_logo" class="image-fluid" src="./media/fagadiko_notext.jpg" alt="shop_logo">
        </div> -->
      </div>
      <div  id="mapcont">
          <div class="col-md-6" id="map"></div>
      </div>
      <div  id="imgcont">
        <img id="shop_logo" class="image-fluid" src="/media/fagadiko_notext.jpg" alt="shop_logo">
    </div>
  </div>
  </body>
</html>
</div>