    {{>navbar loggname=loggname}}
    <div id="pagebody">
    <div class="loginpg">
        <div class="row" id="login_body">
            <div class="align-items-center" id="loginform">
                <div class="d-flex flex-column align-items-center" >
                <form action="/login" method="post">
                    <fieldset class="text-center">
                        <legend class="text-start">Welcome</legend>
                        <input type="text" class="form-control" id="username" name="username" placeholder="Username">
                        <br><br>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                        <br><br>
                        <input type="submit" class="btn btn-primary" value="Login">
                    </fieldset>
                </form>
                <p id="linktoreg">Not a member? <a href="/register">Create</a> an account</p>
                </div>
            </div>
        </div>
    </div>
    </div>
