    {{>navbar loggname=loggname}}
    <div id="pagebody">
    <div id="loginpg">
        <div class="row align-items-center justify-content-center" id="regform">
            <div class="col-md-6 d-flex justify-content-center align-items-center" >
                <div class="d-flex flex-column align-items-center">
                <form id="registerform" action="/register" method="post">
                    <fieldset class="text-center">
                        <legend class="text-start">Register</legend>
                        <div class="row text-start" id="nameinfo">
                            <label for="nameinfo">Your name</label>
                            <div class="col">
                                <input type="text" class="form-control" id="firstname" name="firstname" placeholder="First Name">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Last Name">  
                            </div>
                        </div>
                        <div class="row text-start" id="contactinfo">
                            <label for="contactinfo">Contact Info</label>
                            <div class="col">
                                <input type="email" class="form-control" id="email" name="email" placeholder="Email">       
                            </div>
                            <div class="col">
                                <input type="tel" class="form-control" id="phone" name="phone" placeholder="Phone">
                            </div>
                        </div>
                        <div class="row text-start" id="accountinfo">
                            <label for ="accountinfo">Account</label>
                            <div class="col">
                                <input type="text" class="form-control" id="username" name="username" placeholder="Username">
                            </div>
                            <div class="col">
                                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                            </div>
                        </div>
                        <div id="confirmpass">
                        <input type="password" class="form-control" id="confpass" name="confpass" placeholder="Confirm Password">
                        </div>
                        <div id="registerbtn">
                        {{#if (neq errormsg undefined)}}<div class="alert alert-danger">{{errormsg}}</div>{{/if}}
                        <input type="submit" class="btn btn-primary" value="Register" id="regbtn">
                        </div>
                    </fieldset>
                </form>
                <p id="linktolog">Already a member? <a href="/login">Login</a></p>
                </div>
            </div>
        </div>
    </div>
    </div>