{{>navbar loggname=loggname}}
<div id="pagebody">
<div id="reservationpg">
<div  id="txtandform">
      <h1>Make a Reservation</h1>
      <div id="registerform">
        <form action = "/reservation" method = "post">
          <fieldset>
              <legend>When?</legend>
              <div class="form-field">
                  <label for="date">Date:</label>
                  <input type="date" class="form-control" id="date" name="date">
              </div>
              <div class="form-field">
                  <label for="time">Time:</label>
                  <input type="time" class="form-control" id="time" name="time">
              </div>
            </fieldset>
            <fieldset>
              <legend>For who?</legend>
              <div class="form-field">
                  <input type="number" class="form-control" id="people" name="people" placeholder="Number of people">
              </div>
            </fieldset>
            <fieldset>
              <legend>Desired Area</legend>
              <div class="form-field">
                <input type="dropdown" class="form-control" name="area" placeholder="Select from the plan on the side">
              </div>
            </fieldset>
            <fieldset>
              <legend>Special Demands</legend>
              <div class="form-field">
                  <textarea id="comments" class="form-control" name="comments" placeholder="Feel free to tell us"></textarea>
              </div>
            </fieldset>
            
            <div class="form-field">
              <input class="btn btn-primary" id="makereservbtn" type="submit" value="Make Reservation">
          </div>
        </form>
    </div>
</div>
  {{>floorplan page='userreserv'}}  
</div>
</div>
{{!-- <div id="shop_logo">
    <img src="/media/fagadiko_notext.jpg">
</div> --}}

