<div id="pagebody">
<h1>Sorry, its seems there was a problem</h1>
<h2>Error Message</h2>
<p>{{error}}</p>
<h2>Stacktrace:</h2>
<p>{{stacktrace}}</p>
<a class="btn btn-primary" href="/">Get me back to a safe place</a>
</div>