
{{#if (eq role 'admin')}} {{>adminnav loggname=loggname}} {{else if (eq role 'user')}}{{>navbar loggname=loggname}}{{/if}} 

<div id="pagebody">

<div id="myprofilepg">
    {{#if (eq profilepage 'userprofile')}}
        {{> profileinfo info=info}}
    {{/if}}

    {{#if (eq profilepage 'userreserv')}}
        {{> reservationsPartial}}
    {{/if}}

    {{#if (eq profilepage 'reservhistory')}}
        {{> history}}
    {{/if}}

    {{#if (eq profilepage 'royalty')}}
        {{> royalty}}
    {{/if}}
</div> 
</div>