{{>navbar loggname=loggname}}
<div id="pagebody">
<div id="myprofilepg">
    {{#if (eq profilepage 'userprofile')}}
        {{> profileinfo info=info}}
    {{/if}}

    {{#if (eq profilepage 'userreserv')}}
        {{> reservationsPartial}}
    {{/if}}

    {{#if (eq profilepage 'reservhistory')}}
        {{> history}}
    {{/if}}

    {{#if (eq profilepage '/myprofile/royalty')}}
        {{> royaltyPartial}}
    {{/if}}

    {{#if (eq profilepage '/myprofile/reviews')}}
        {{> reviewsPartial}}
    {{/if}}

    {{#if (eq profilepage '/home')}}
        {{> logoutPartial}}
    {{/if}}
</div> 
</div>