{{!-- <div class="sidenav" id="example-one">
    <a href="/myprofile/page/info">My Profile</a>
    <a href="/myprofile/page/reservations">Active Reservations</a>
    <a href="/myprofile/page/history">Old Reservations</a>
    <a href="/myprofile/page/royalty">Royalty Points</a>
    <a href="/home">My Reviews</a>
    <a href="/home">Logout</a>
</div>
<script src=
"https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">
    </script>
<script>
    $('#example-one a').click(function(e) {
    $('#example-one a').removeClass('current_page_item');
    $(this).addClass('current_page_item');
});
</script> --}}
<div id="myprofilepg">
    {{#if (eq profilepage 'userprofile')}}
        {{>profileinfo}}
    {{/if}}

    {{#if (eq profilepage 'userreserv')}}
        {{> reservationsPartial}}
    {{/if}}

    {{#if (eq profilepage 'reservhistory')}}
        {{> history}}
    {{/if}}

    {{#if (eq profilepage '/myprofile/royalty')}}
        {{> royaltyPartial}}
    {{/if}}

    {{#if (eq profilepage '/myprofile/reviews')}}
        {{> reviewsPartial}}
    {{/if}}

    {{#if (eq profilepage '/home')}}
        {{> logoutPartial}}
    {{/if}}
</div> 
