html{
    background-color: #181515;
}

body{
    background-color: #181515;
    color: #c17379;
}
.container{
    background-color: #181515;
    color: #c17379;
    padding-left: 0;
    margin-left: 0;
}
h1{
    color: #c17379;
    font-size: 2.5rem;
    background-color: #181515;
    font-family: 'Newsreader', serif;
    padding-left: 10px;
    padding-top: 10px;
}

form{
    padding-top: 25%;
    background-color: #181515;
}


legend{
    background-color: #181515;
}

.form-control{
    width: 10rem;
    height: 2rem;
}

.btn{
    background-color: #c17379;
    border-color: #c17379;
    color: #181515;
}

.btn:hover{
    background-color: #87b6cf;
    border-color: #272f5d;
    color: #272f5d;
}

a{
    color: #c17379;
}
a:hover{
    color: #87b6cf;
}


#shop_logo{
    width: 32rem;
    padding-top: 20%;
}

#linktoreg{
    padding-top: 5%;
}
 
#homepg{
    text-decoration: none;
}

#contactinfo,#accountinfo{
    padding-top: 2rem;
}

#confirmpass{
    padding-top: 0.5rem;
    padding-bottom: 2rem;
}


#nameinfo>div.col:first-child,#contactinfo>div:first-child,#accountinfo>div:first-child{
    padding-right: 0rem;
}

#nameinfo>div:last-child,#contactinfo>div:last-child,#accountinfo>div:last-child{
    padding-left: 0rem;
}

div.col:nth-child(2n){
    padding-right: 0rem;
}
