#shop_logo{
    width: 32rem;
    padding-top: 20%;
}

#linktoreg,#linktolog{
    padding-top: 5%;
}
 
#contactinfo,#accountinfo{
    padding-top: 2rem;
}

#confirmpass{
    padding-top: 0.5rem;
    padding-bottom: 2rem;
}


#nameinfo>div.col:first-child,#contactinfo>div:first-child,#accountinfo>div:first-child{
    padding-right: 0rem;
}

#nameinfo>div:last-child,#contactinfo>div:last-child,#accountinfo>div:last-child{
    padding-left: 1rem;
}

div.col:nth-child(2n){
    padding-right: 0rem;
}

#loginform{
    padding-top: 7rem;
    padding-right: 8rem;
    padding-left: 8rem;
}

#shoplogocol{
    padding-top: 3rem;
    padding-left: 12rem;
}

#registerform{
    padding-top: 4rem;
    padding-right: 8rem;
    padding-left: 8rem;
}


@media only screen and (max-width: 760px) {
    #loginform{
        padding-top: 3rem;
        padding-left: 12rem;  
        padding-right: 2rem;
    }

    #shoplogocol{
        padding-top: 3rem;
        padding-left: 7rem;
    }

    #registerform{
        padding-top: 3rem;
        padding-left: 15rem;  
        padding-right: 4rem;
    }

    #linktolog{
        padding-top: 2rem;
        padding-left: 12rem;
    }
}