html{
    background-color: #181515;
}

body{
    background-color: #181515;
    color: #c17379;
}
.container{
    background-color: #181515;
    color: #c17379;
    padding-left: 0;
    margin-left: 0;
}
h1{
    color: #c17379;
    font-size: 2.5rem;
    background-color: #181515; 
}

form{
    padding-top: 25%;
    background-color: #181515;
}


legend{
    background-color: #181515;
}

.form-control{
    width: 10rem;
    height: 2rem;
}

.btn{
    background-color: #c17379;
    border-color: #c17379;
    color: #181515;
}

.btn:hover{
    background-color: #ee08a9;
    border-color: #c17379;
    color: #c17379;
}

a{
    color: #c17379;
}
a:hover{
    color: #f883e5;
}


#shop_logo{
    width: 32rem;
    padding-top: 20%;
}

#linktoreg{
    padding-top: 5%;
}