html{
    background-color: #181515;
}

body{
    background-color: #181515;
    color: #c17379;
}

h1{
    color: #c17379;
    font-size: 2.5rem;
    background-color: #181515;
    font-family: 'Newsreader', serif;
    padding-left: 10px;
    padding-top: 10px;
    width: 2rem;
    padding-right: 0%;
}

h1>a{
    text-decoration: none;
}

.navbar{
    width:100%;
}

.navbar>h1{
    padding-right: 83rem;
    color: #c17379;
}

.navbar>h1>a{
    color: #c17379;
}

.navbar>h1>a:hover{
    color: #87b6cf;
}

.nav-link{
    color: #c17379;
    margin-left: 2rem;    
}

#reservationbtn{
    background-color: #c17379;
    color: rgb(99, 49, 3);
    border-radius: 15px;
} 

.nav-link:hover{
    color: #87b6cf;
}

#navbarcont{
    background-color: #181515;
    color: #c17379;
    padding-left: 0;
    margin-left: 0;
    width: 100%;
}

.btn{
    background-color: #c17379;
    border-color: #c17379;
    color: #181515;
}

.btn:hover{
    background-color: #87b6cf;
    border-color: #87b6cf;
    color: #272f5d;
}

a{
    color: #c17379;
}

a:hover{
    color: #87b6cf;
}

@media only screen and (max-width: 1580px) {
    .navbar>h1{
        padding-right: 60rem;
    }
}

